<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI弹幕回复</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
      <h2>流式接口测试</h2>
      <div class="mb-3">
        <label for="query" class="form-label">Query</label>
        <input type="text" class="form-control" id="query" required>
      </div>
      <div class="mb-3">
        <label for="stream-api-result" class="form-label">Result</label>
        <textarea class="form-control" id="stream-api-result" rows="6"></textarea>
      </div>
      <button type="button" class="btn btn-primary mb-4" id="start-stream">测试</button>

      <h2>AI弹幕回复</h2>
      <div class="mb-3">
        <label for="room-id" class="form-label">人设ID</label>
        <input type="text" class="form-control" id="character-id" required>
      </div>
      <div class="mb-3">
        <label for="room-id" class="form-label">直播间ID</label>
        <input type="text" class="form-control" id="room-id" required>
      </div>
      <button type="button" class="btn btn-primary mb-4" id="start-listening">开始</button>

      <div class="row mb-3">
        <div class="col-6">
          <div class="mb-3 border border-3">
            <h3>礼物消息</h3>
            <div id="gift-messages"></div>
          </div>
          <div class="border border-3">
            <h3>重要观众消息</h3>
            <div id="vip-user-messages"></div>
          </div>
        </div>
        <div class="col-6 border border-3">
          <h3>AI弹幕回复提示</h3>
          <div id="chat-messages"></div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
      $('#start-stream').on('click', function() {
        const characterId = 5;
        const query = $('#query').val();
        const url = `/api/stream/assistant/character/${characterId}/generate_chat?query=${query}`;

        const eventSource = new EventSource(url, { withCredentials: true });
        
        eventSource.onmessage = function(event) {
          console.log(event.data);
          // console.log(`Ready state: ${eventSource.readyState}`)
          const data = JSON.parse(event.data);
          if (data.code) {
            // 重要！！！若不关闭会不断重连！！！
            eventSource.close();
          }
        };

        eventSource.onerror = function(event) {
          // 重要！！！若不关闭会不断重连！！！
          eventSource.close();
        }
      });

      $('#start-listening').on('click', function() {
        let pingIntervalId = null;

        let characterId = $('#character-id').val();
        let roomId = $('#room-id').val();
        characterId = characterId ? characterId.trim() : '';
        roomId = roomId ? roomId.trim() : '';
        if (!roomId) {
          alert('Empty room ID!');
        } else {
          const socket = new WebSocket(`ws://${window.location.host}/api/ws/assistant/live_prompt/douyin/${roomId}?character_id=${characterId}`);
          // const socket = new WebSocket(`ws://47.103.50.65/api/ws/assistant/live_prompt/douyin/${roomId}?character_id=${characterId}`);
          
          socket.onopen = function(e) {
            console.log(`Websocket connection opened. Event: ${JSON.stringify(e)}`);
            pingIntervalId = setInterval(function() {
              socket.send(JSON.stringify({ 'type': 'PING' }));
            }, 30000);
          };

          socket.onmessage = function(e) {
            console.log(`Received message. Event: ${JSON.stringify(e)}`);
            const data = JSON.parse(e.data);
            const $messageItem = $('<div></div>').text(e.data);
            switch (data.type) {
              case 'GIFT':
                $messageItem.addClass('gift-message mb-2');
                $('#gift-messages').append($messageItem);
                break;
              case 'VIP_USER':
                $messageItem.addClass('vip-user-message mb-2');
                $('#vip-user-messages').append($messageItem);
                break;
              case 'DANMU':
                $messageItem.addClass('chat-message mb-2');
                $('#chat-messages').append($messageItem);
                break;
              case 'PONG':
                console.log('PONG message received');
                break;
              default:
                console.warn(`Unsupported message type: ${data.type}`);
            }
          };

          socket.onclose = function(e) {
            console.error(`Websocket connection closed. Event: ${JSON.stringify(e)}`);
            if (pingIntervalId) {
              clearInterval(pingIntervalId);
            }
          }
        }
      });
    </script>
  </body>
</html>